<div class="page page-auth">

  <ul class="button-group clearfix" style="list-style-type:none;">
    <li style="display:inline;"><a type="button" class="btn btn-danger btn-lg" style="min-width:150px" href="#/pages/signin">Usuario</a></li>
    <li style="display:inline;margin-left:15px"><a type="button" class="btn btn-danger btn-lg" style="min-width:150px" href="#/pages/restaurant">Restaurante</a></li>
  </ul>

	<!--<div class="auth-container">

		<div class="form-head mb20">
			<h1 class="site-logo h2 mb5 mt5 text-center text-uppercase text-bold"><a href="/">Market Codes</a></h1>
			<h5 class="text-normal h5 text-center">Sign In to Dashboard</h5>
      <button>Usuario</button><button>Restaurante</button>
		</div>

		<div class="form-container">

		</div>

	</div> --> <!-- #end signin-container -->
</div>
