<div class="page page-auth">

	<div class="auth-container">

		<div class="form-head mb20">
			<h1 class="site-logo h2 mb5 mt5 text-center text-uppercase text-bold"><a href="/">Mejora tu pedido</a></h1>
			<h5 class="text-normal h5 text-center">Entra a tu cuenta con facebook</h5>
		</div>

		<div class="form-container">
			<form class="form-horizontal" action="javascript:;">
				<div class="btn-group btn-group-justified mb15">
					<div class="btn-group">
						<button type="button" class="btn btn-facebook" data-ng-click="IntentLogin()"><span class="ion ion-social-facebook"></span>&nbsp;&nbsp;Entrar con Facebook</button>
					</div>
				</div>
				<br><br>
				<!--<div class="clearfix text-center small">
					<p>Don't have an account? <a href="#/pages/signup">Create Now</a></p>
				</div>-->
			</form>
		</div>

	</div> <!-- #end signin-container -->
</div>
